services: 
    backend:
        build: .
        container_name: app
        command: uvicorn app.main:app --host 0.0.0.0 --port 8000
        env_file: .env
        ports:
          - "8000:8000"
        volumes:
          - .:/app
          - sqlite_data:/app/db
        depends_on: 
            - alembic
        
    alembic:
        build: .
        container_name: alembic
        command: alembic upgrade head
        env_file: .env
        volumes:
          - .:/app
          - sqlite_data:/app/db


volumes:
    sqlite_data: